<div class = "about-me-cursor"></div>
<div class="container-fluid about">
    <div class="scroll">
        <p>Scroll <i class="fas fa-arrow-down"></i></p>
    </div>
    <div class="row greetings-container">
        <div class="col-md-12">
            <p class="greeting">Hi there!<span class = "wave">👋</span></p>
        </div>
    </div>
    <div class="row greetings-container">
        <div class="col-md-12">
            <p class="greeting">I'm Jason</p>
        </div>
    </div>
    <div class="row greetings-container">
        <div class="col-md-12">
            <p class="greeting">Junior @ Hunter College in NYC</p>
            <div class="major-minor">
                <p>BA in Computer Science w/ Minor in Media Studies</p>
            </div>
        </div>
    </div>
    <div class="row greetings-container">
        <div class="col-md-12">
            <p class="greeting">Tools and Technologies I Use</p>
            <div class="row">
                <div class="col-md-6 tech-container">
                    <p class = "tech">HTML</p>
                    <p class = "tech">CSS</p>
                    <p class = "tech">JavaScript</p>
                    <p class = "tech">C++</p>
                </div>
                <div class="col-md-6 tech-container">
                    <p class = "tech">Visual Studio Code</p>
                    <p class = "tech">Adobe Illustrator</p>
                    <p class = "tech">Adobe Photoshop</p>
                    <p class = "tech">GitHub</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row greetings-container">
        <div class="col-md-12">
            <p class="greeting">I'm a full-stack web developer</p>
        </div>
    </div>
</div>
