<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 footer-links">
                <a class="footer-link" href="https://www.linkedin.com/in/jason-wong-/">LinkedIn</a>
                <a class="footer-link" href="https://github.com/JS0Nwong">GitHub</a>
                <a class="footer-link" href="mailto:jason.wong47@myhunter.cuny.edu">Email</a>
                <p class="footer-link copyright">&copy; 2021</p>
            </div>
        </div>
    </div>
</footer>