<div class="container-fluid bottom-links">
    <ul class="links" id = "bottom-nav">
        <li class = "link-item"><i class="fab fa-github"></i></li>
        <li class = "link-item"><i class="fab fa-linkedin"></i></li>
        <li class = "link-item"><i class="fas fa-envelope"></i></li>
    </ul>
</div>