<div class="container-fluid"> 
  <div class="row">
    <div class="col-md-12 bottom-nav">
       <h1 class="logo-name">Jason Wong</h1>
      <ul class = "links-list">
        <li class="list-link"><a href = "#">Home</a></li>
        <li class="list-link"><a href = "/my-work">Works</a></li>
        <li class="list-link"><a href= "#">About</a></li>
        <li class="list-link"><a href= "#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
