<button type="button" class="nav-button nav-btn">Open</button>
<nav class="nav-header nav-js" data-active="false">
  <ul class="nav-menu">
    <li class="menu-item"><a class = "link" href="/">Home</a></li>
    <li class="menu-item"><a class = "link" href="/about">About</a></li>
    <li class="menu-item"><a class = "link" href="/my-work">Works</a></li>
    <li class="menu-item"><a class = "link" href="/contact">Contact</a></li>
  </ul>
</nav>