{{> nav}}

<nav class="menu">
    <div class = "menu-item-wrapper">
        <a class = "menu-item-inner" href = "https://js0nwong.github.io/medp331/class_6_midterm/index.html">
            Pokey.dex
        </a>
    </div>
    <div class = "menu-item-wrapper">
        <a class = "menu-item-inner" href = "https://github.com/JS0Nwong/JS0Nwong.github.io/tree/main/medp331">
            Web Production 2
        </a>
    </div>
    <div class = "menu-item-wrapper">
        <a class = "menu-item-inner" href = "https://fmundergrad.hunter.cuny.edu/~wongj/medp150/oldportfolio/medp285.html">
            Web Production 1
        </a>
    </div>
    <div class = "menu-item-wrapper">
        <a class = "menu-item-inner" href = "">
            Software and Design Analysis 3
        </a>
    </div>
</nav>