<div class="works-cursor" id = "works-cursor"></div>
<div class="img-cursor" id = "img-cursor"></div>

<main>
    <div class="side-bar">
        <div class="nav">
            <ul class = "top-side-element">
                <li class = "header">Jason Wong</li>
            </ul>
        </div>
        <div class="top-info">
            <div class="top-desc">
                <div class="title"><p></p></div>
                <div class = "description"><p></p></div>
            </div>
        </div>
        <div class="info">
            <div class="desc">
                <div class="tech-used"><p></p></div>
                <div class="counter"><p></p></div>
            </div>
        </div>
    </div>

    <div class="gallery">
        <div class="image-wrap">
            <div class="image"></div> 
        </div>
        <div class="previous" id = "previous"></div>
        <div class="next" id = "next"></div>
    </div>
</main>
