{{!-- <section class="works-container">
    <div class="row works-content-wrapper">

        <div class="left"></div>
        <div class="right"></div>
        <div class="top"></div>
        <div class="bottom"></div>

        <div class="col-md-2 side-elem-wrapper">
            <div class="row top-side-elem">
                <div class="col-md-12 top-element">
                    <p class = "work-info-name">Jason Wong</p>
                    {{#each works}}
                    <div class="work-info-wrapper">
                        <p class = "work-info">{{works.description}}</p>
                    {{/each}}
                </div>
            </div>
            <div class="side-bar-right"></div>
            <div class="row bottom-side-elem">
                <div class="col-md-12 list-container">
                    <ul class="tech-list">
                        <li class="list-elem">HTML/</li>
                        <li class="list-elem">CSS/</li>
                        <li class="list-elem">Javascript/</li>
                    </ul>
                    <ul class = "site-links">
                        <i class="fab fa-github"></i>
                        <i class="fas fa-external-link-alt"></i>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-10 main-content-wrapper">
            <div class="works-info">
                <h3 class="works-page-title">
                    <a class="works-link" href="{{this.link}}">{{this.title}}</a>
                </h3>
            </div>
        </div>
    </div>
</section> --}}

<div class="works-cursor" id = "works-cursor"></div>

<main>
    <div class="side-bar">
        <div class="nav">
            <ul class = "top-side-element">
                <li class = "header">Jason Wong</li>
                <ul class = "works-nav">
                    <li>Home</li>
                    <li>About</li>
                    <li>Works</li>
                    <li>Contact</li>
                </ul>
            </ul>
        </div>
        <div class="top-info">
            <div class="top-desc">
                <div class="title"><p></p></div>
                <div class = "description"><p></p></div>
            </div>
        </div>
        <div class="info">
            <div class="desc">
                <div class="tech-used"><p></p></div>
                <div class="counter"><p></p></div>
            </div>
        </div>
    </div>

    <div class="gallery">
        <div class="image-wrap">
            <div class="image"></div> 
        </div>
        <div class="previous" id = "previous"></div>
        <div class="next" id = "next"></div>
    </div>
</main>
