<div class="container-fluid">

    <div class="row about-me-container">
        <div class="col-md-4 bio-container">
            <h1 class="about-me-category">About</h1>
        </div>
        <div class="col-md-8 bio-text">
            <p class="about-me-bio">Hi there!👋</p>
            <br>
            <p class="about-me-bio">
                I'm Jason, a rising junior passionate about web development and software engineering. 
                I'm developing my skills through my studies at Hunter College, where I'm working towards a Bachelor of Arts in 
                Computer Science with a minor in Media Studies. I'm always looking to expand my network, so feel free to connect with me on Github or LinkedIn!</p>
            <br>
            <p class="about-me-bio">
                I currently have 3 years experience with HTML/CSS, JavaScript and C++ as a developer, but I would love to work with other langauges and softwares!
            </p>
            <br>
        </div>
    </div>
</div>

{{!-- <ul>
    {{#each moreInfo }}
    <li>{{ this }}</li>
    {{/each}}
</ul> --}}

