<div data-barba="container">
    {{> nav}}
    <section class = "contact-wrapper">
        <h1 class = "contact-statement">Feel free to reach out to me if you have any inquiries about work or anything else</h1>
        <ul class="contact-links">
            <li class="email"><a href="mailto:jason.wong47@myhunter.cuny.edu">Email</a></li>
            <li class="email"><a href="">GitHub</a></li>
            <li class="email"><a href="">LinkedIn</a></li>
        </ul>
    </section>
</div>