<div data-barba="container">
    {{> nav}}
    <section class = "contact-wrapper">
        <h1 class = "contact-statement">Feel free to reach out to me if you have any inquiries about work or anything else</h1>
        <ul class="contact-links">
            <li class="email"><a href="mailto:jason.wong47@myhunter.cuny.edu">Email</a></li>
            <li class="email"><a href="">GitHub</a></li>
            <li class="email"><a href="">LinkedIn</a></li>
        </ul>
    </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@barba/core"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    const textrev = gsap.timeline();

    const childSplit = new SplitText("h1", {
        type:"lines",
        linesClass:"split-child"
    });

    const parentSplit = new SplitText("h1", {
        linesClass:"split-parent"
    });

    textrev.from(childSplit.lines {
        duration: 1.5,
        ease: "expo.inOut",
        yPercent: 100,
        //delay: .2,
        stagger: 0.1,
    });
</script>