<div data-barba="container">
    <header class = "home-header">
        <div class = "home-page">
            {{> nav}}
            <h1 class = "center-name">Js_<br>on</h1>
        </div>
        {{> links}}
    </header>
</div>

